.today {
  background-color: #FFDB2D;
}
.calendar-component {
  .action-button {
    padding: 0;
    display: block;
  }
  td {
    border: transparent 1px solid;
    &.active {
      border: red 1px solid;
    }
  }
}

